:root{--first-color:#2F303A; --second-color:#F5F4FA; --third-color:#FFFFFF; --fourth-color: #212121; --fifth-color: #757575 ;}
.main-section{
    background-color: var(--first-color, red);
}
.main-nav-item{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #000000;
    text-align: left;
}
.top{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,02em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
}
.main-section-item{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--third-color);
    text-align: center; 
}
.main-section-item-button{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--third-color);
    text-align: center; 
}
.main-ul-item{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
}
.main-ul-item-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fifth-color);
    text-align: left; 
}
.smaller-text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: center; 
}
.second-ul-name{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: center; 
}
.second-ul-job{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: center; 
}
address{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--third-color);
    text-align: left; 
}
.buttons-ul-item{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color:var(--fourth-color);
    text-align: center; 
}
.third-ul-item{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
}
.third-ul-item-name{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fifth-color);
    text-align: left; 
}
li{
    list-style: none;
}
.address{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fifth-color);
    text-align: left; 
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}