:root{--first-color:#2F303A; --second-color:#F5F4FA; --third-color:#FFFFFF;}
.main-section{
    background-color: var(--first-color, red);
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #000000;
    text-align: left;
}
.top{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,02em;
    text-decoration: none;
    color: #212121;
    text-align: left; 
}
h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center; 
}
.btn{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center; 
}
.different{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #212121;
    text-align: left; 
}
.different-b{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #757575;
    text-align: left; 
}
h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #212121;
    text-align: center; 
}
.name{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #212121;
    text-align: center; 
}
.job{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #212121;
    text-align: center; 
}
address{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left; 
}
.movement{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #212121;
    text-align: center; 
}
.name-two{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: #212121;
    text-align: left; 
}
.under-name{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #757575;
    text-align: left; 
}