:root{--first-color:#2F303A;
     --second-color:#F5F4FA; 
    --third-color:#FFFFFF; 
    --fourth-color: #212121; 
    --fifth-color: #757575 ;
     --hover-color: #2196F3 ;

    --icon-color: rgba(175, 177, 184, 1);
}

h5{
    margin-block-start: 0;
    margin-block-end: 0 ;
}
img{
    overflow-clip-margin: content-box 0px;
}
a{
    text-decoration: none;
    color: var(--fourth-color);
    cursor: default;
}
.main-nav-item-a:hover{
    color: var(--hover-color);
    cursor: pointer;
}
ul{
    padding-inline-start: 0px;
}
.main-nav{
    display:flex;  
    align-items: center;
    height: 80px;
    gap: 95px;
}
.Web{
    color: var(--hover-color);
}
.porftolio-header{
    border-bottom: solid 1px #ECECEC;
}
.logo-main{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #000;
    text-align: left;
}
.logo-foot{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center; 
    padding: 10px 0;
}
.main-nav-child{
    display: flex;
    justify-content: space-between;
    gap: 340px;
    margin: 0;
    padding: 0;
}
.main-nav-item-ul{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,02em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;

    
}
.main-nav-item-info-1>a{
    display: flex;
}
.main-nav-item-info{
    display: flex;
    gap: 50px;
    align-items: center;
}
.main-nav-item-info-1{
    gap: 10px;
   display: flex;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,02em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left;
}
.info-el{
    fill:  rgba(117, 117, 117, 1);
    
}
.main-nav-item-info-1:hover{
    color: var(--fourth-color);
    
.info-el{
    fill: var(--hover-color);}
}
.main-nav-item-info-2{
    gap: 10px;
    display: flex;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,02em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
}
.main-nav-item-info-2:hover{
    color: var(--fourth-color);
    
.info-el{
    fill: var(--hover-color);}
}
.hero{  
    height: 600px; 
    width: 100%;
    padding-top: 200px;
    background-image: linear-gradient( to bottom, rgba(47, 48, 58, 0.4), rgba(130, 132, 160, 0.4)),  
        url(../img/Img.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
}
.main-section-item{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--third-color);
    text-align: center; 
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.main-section-item-button{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--third-color);
    text-align: center;   
    background-color: rgba(33, 150, 243, 1);
    border: none; 
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    margin: 30px auto;

}
.main-ul{
    display: flex;
    margin: 95px auto;
    justify-content: space-between;
    gap: 30px;
}

.main-ul-item{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
    background-color: var(--third-color);
}
.main-ul-item-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fifth-color);
    text-align: left; 
    background-color: var(--third-color);
}
.main-ul-li::before{
    display: block;
 content: "";
 width: 270px;
 height: 120px;
 border-radius: 3px;
 background-color: var(--second-color);
}
.main-ul-li:first-child::before{
    background-image: url(../img/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.main-ul-li:nth-child(2):before{
    background-image: url(../img/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.main-ul-li:nth-child(3):before{
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.main-ul-li:last-child::before{
    background-image: url(../img/astronaut\ .svg);
    background-repeat: no-repeat;
    background-position: center;
}
.picture-box{
    display: flex;
    justify-content: space-between;
}
.picture-box-item{
    width: 370px;
    height: 294px;
    padding: 15px;
}
.picture-overlay{
    position: relative;
    top: 279px;
    left: 15px;
   width: 340px;
    height:65px;
    background-color: rgba(47, 48, 58, 0.8);
    margin-top: -65px;
}
.picture-overlay>p{
    font-family: 'Roboto';
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: center;
padding-top: 23px;
}
.smaller-text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: center; 
    padding-top: 0px;
}

.team-div{
    background-color: #FFFFFF;
    gap: 30px;
    box-shadow: 0px 1px 2px var(--fifth-color);
}
.people-pic{
    width: 270px;
    height: 260px;
}
.team-ul{
    display: flex;
    justify-content: space-between;

}

.background-div{
    background-color: #F5F4FA;
    height: 710px;
    padding-top: 90px;
}
.team-ul-name{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: center; 
}
.team-ul-job{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: center; 
}
.background-foot{
    background-color: var(--first-color);
    height: 252px;
    padding-top: 50px;
}
address{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--third-color);
    text-align: left; 
}
.address-ul{
    display: block;
    align-items: center;
    padding: 10px 0;
}
.address-item-1{
    color: rgba(255, 255, 255, 1);

}
.address-item{
    color:  rgba(255, 255, 255, 0.6); 
}
.buttons-ul{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 95px;
    margin-bottom: 50px;
}

.buttons-ul-item-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color:var(--fourth-color);
    text-align: center; 
    background-color: var(--second-color);
    padding: 4px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
}
.buttons-ul-item-btn:hover{
    background-color: var(--hover-color);
    color: var(--third-color);
    cursor:pointer;
    box-shadow: 0px 3px 4px var(--fifth-color);
}
.third-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 95px;
    
}
.third-ul-li{
    width: calc( (100% - 60px)/3 );
    line-height: 0;
}
.third-ul-li:hover{
    box-shadow: 1px 2px 3px var(--fifth-color);
}


.third-ul-item{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--fourth-color);
    text-align: left; 
    margin-bottom: 0;
}
.third-ul-item-name{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fifth-color);
    text-align: left; 
    margin-top: 0;
    padding-top: 15px;
}
.third-ul-li-div{
    padding-top:30px ;
    padding-left: 23px;
   padding-bottom: 30px;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
li{
    list-style: none;
}
.address{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0,03em;
    text-decoration: none;
    color: var(--fifth-color);
    text-align: left; 
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.icon-cont{
    display: flex;
    gap: 10px;
    margin-bottom: 45px;
    margin-left: 31px;
}

.icon{
    fill: var(--icon-color);
    margin-top: 11px;
    margin-left: 11px;
}
.icon-circle{
    width: 44px;
    height: 44px;
  border-radius: 50%;
  
}
.icon-circle:hover{
    background-color:  var(--hover-color);
      width: 44px;
      height: 44px;
    border-radius: 50%;

    .icon{
        fill: var(--third-color);
        border: none;
        cursor: pointer;}
 }
.regular-customers{
   max-height: 375px;
}
.regular-customers>h2{
    margin-top:  94px;
}
.regulars-logo{
    display: flex;
    gap: 32px;
}
.regulars-logo>li{
    margin-top: 50px;
    width: 170px;
    height: 92px;
    border: solid 1px #AFB1B8;
    border-radius: 5px;
    margin-bottom: 95px;
    padding: 15px 30px;
}
.regulars-logo-item{
fill: var(--icon-color);
}
.regulars-logo>li:hover{
    border:solid 1px var(--hover-color);
    .regulars-logo-item{
    fill: var(--hover-color);
border: none;}
}





.foot-cont{
    display: flex;
}
.join-cont{
    display: flex;
    gap: 10px;
    margin-bottom: 45px;
    margin-left: 31px;
}

.join{
    fill: var(--third-color);
    margin-top: 11px;
    margin-left: 11px;
}
.join-circle{
    width: 44px;
    height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.join-circle:hover{
    background-color:  var(--hover-color);
      width: 44px;
      height: 44px;
    border-radius: 50%;

    .join{
        border: none;
        cursor: pointer;}
 }
.join-div>h3{
    text-transform:uppercase;
    font-family: 'Roboto';
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
color: var(--third-color);
margin:0 90px;
margin-top:10px ;
}
.join-div{
    display: block;

}
.join-help-div{
    margin-left: 63px;
}



.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 20%;
    left: 36%;
    background-color:var(--third-color);
    min-width: 528px;
    min-height: 581px;
    transform: translate(-50% -50%);
    padding: 15px;
}
.no-scroll{
    overflow: hidden;
}

.modal-name{
    font-family: 'Roboto';
font-size: 20px;
font-weight: 700;
line-height: 23.44px;
letter-spacing: 0.03em;
text-align: center;

}
.modal-form{
    display: flex;
    flex-direction: column;
    
}
.modal-form>label{
    padding-left: 25px;
    padding-bottom: 5px;
    margin-top: 10px;
   color: rgba(117, 117, 117, 1);
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   font-family: 'Roboto';
   letter-spacing: 0.01em;
}
.modal-form-el{
    margin:0 auto;
    height: 40px;
    width: 447px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
}
/* .modal-form:focus{
border: 1px solid var(--hover-color) ;
color: var(--hover-color);
} */
#modal-comm{
    margin:0 auto;
    height: 120px;
    width: 447px;
    padding-top: 13px;
    padding-left: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 margin-bottom: 10px;
}
#checkbox-link{
    color: var(--hover-color);
    text-decoration:  underline;
    cursor: default;
}
.m-f-checkbox{
    margin: 0 auto;
    font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color:rgba(117, 117, 117, 1) ;

}
.modal-form>button{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
    text-decoration: none;
    color: var(--third-color);
    text-align: center; 
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: var(--hover-color);
    margin:25px auto ;
    box-shadow: 0px 1px 3px var(--fifth-color);
}


.modal-btn{
    margin-left: 470px;
    border: 1px solid rgba(33, 33, 33, 0.2)  ;
    background-color: var(--third-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.modal-btn:hover{
    cursor: pointer;
    .X{
        fill: var(--hover-color);
        
    }
    
}